services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=host.docker.internal
      - DB_USER=postgres
      - DB_PASSWORD=admin
      - DB_NAME=mensajeria
      - DB_PORT=5432
    extra_hosts:
      - "host.docker.internal:host-gateway"
